---
---

<div class="section-1">

    <h1>
        Stanzas

        <span class="tagline">
            poetry magazine
        </span>

    </h1>

    <div class="subheadline">
        based in
        <br>
        <span class="uppercase">Cape Town</span>
        <br>
        South Africa
    </div>

    <hr>

    <div class="description">
        An open space where poetry&nbsp;matters
    </div>

    <div class="testimonial">

        <p>
            "A literary culture requires reaffirming and renewing by each generation as it gathers in the inheritance of the past and weaves it into&nbsp;a&nbsp;future."
        </p>

        <span class="testimonial-source">
            CJ ‘Jonty’ Driver
        </span>

    </div>

    <div class="covers">

        {% include image file="stanzas-21.jpg" %}
        {% include image file="stanzas-22.jpg" %}
        {% include image file="stanzas-23.jpg" %}
        {% include image file="stanzas-24.jpg" %}
        {% include image file="stanzas-25.jpg" %}
        {% include image file="stanzas-26.jpg" %}
        {% include image file="stanzas-27.jpg" %}
        {% include image file="stanzas-28.jpg" %}

    </div>

    <div class="contact">

        <h2>
            Email
        </h2>

        <p class="contact-guidance">
            For all submission and<br>
            subscription enquiries,<br>
            please email the magazine:
        </p>

        <p>
            <a href="mailto:editor@stanzaspoetry.org">
                editor@stanzaspoetry.org
            </a>
        </p>

    </div>

</div>
<!-- section-1 -->

<div class="section-2">

    <div class="poets">
        
        <h2>
            Some poets who have appeared in Stanzas
        </h2>

        <p>
            Akwe Amosu, PR Anderson, Caroline Archer, Michèle Betty, Godess Bvukutwa, Deirdre Byrne, Christine Coates, Michael Cope, David Copeland, Ingrid de Kok, Gail Dendy, Isobel Dixon, CJ Driver, Graham Dukas, Basil du Toit, John Eppel, Jane Fox, Sarah Frost, Gaireyah Fredericks, Jan Fox, Justin Fox, Elisa Galgut, Anne Graaff, Geoffrey Haresnape, Eustacia Jirivenga, Moira Lovell, Retshepisitswe Makhatha, Phelelani Makhanya, Chris Mann, Botsana Maphanga, Adré Marshall, Helen Moffett, Kobus Moolman, Kgomotso Moloto, Nondwe Mpuma, Sabu Msibi, Lethokuhle Msimang, Kwenzakwenkosi Mtshali, David Muirhead, Nick Mulgrew, Medzani Musandiwa, Stuart Payne, Lethube Hellen Phaladi, Simon Rees-Roberts, Arja Salafranca, Alice Sarembock, Patricia Schonstein, Dimakatso Sedite, Douglas Reid Skinner, Annette Snyckers, Melissa Sussens, Archie Swanson, Winifred Thomson, Phillippa Yaa de Villiers, Tony Voss, Tony Ullyat, Robin Winckel-Mellish, Wendy Woodward, Stephen Wrigley, Fiona Zerbst
        </p>

        <h3>
            In translation
        </h3>

        <p>
            Tito Balestra, Charles Baudelaire, Bertolt Brecht, Dino Buzzati, Catullus, Paul Celan, Paul Claudel, Mia Couto, Johann de Lange, Gérard de Nerval, Marco Fazzini, Jean Follain, Joan Hambidge, Homer, Horace, Attila József, Lynthia Julius, Klaus Kinski, Olga Kirsch, Anna Cascella Luciani, Valerio Magrelli, Johann Lodewyk Marais, Sextus Propertius, Rainer Maria Rilke, Ina Rousseau, Barend Toerien, Elmarie Viljoen-Massyn, José Wattanabe
        </p>

    </div>

</div>
<!-- section-2 -->
