---
---

<div class="section-1">

    <h1>
        Stanzas

        <span class="tagline">
            poetry magazine
        </span>

    </h1>

    <div class="subheadline">
        based in
        <br>
        Cape Town, South Africa
    </div>

    <hr>

    <div class="description">
        An open space where poetry&nbsp;matters
    </div>

    <div class="testimonial">

        <p>
            "A literary culture requires reaffirming and renewing by each generation as it gathers in the inheritance of the past and weaves it into&nbsp;a&nbsp;future."
        </p>

        <span class="testimonial-source">
            CJ ‘Jonty’ Driver
        </span>

    </div>

    <div class="covers">

        {% include image file="stanzas-5.jpg" %}
        {% include image file="stanzas-14.jpg" %}
        {% include image file="stanzas-18.jpg" %}

    </div>

    <div class="contact">

        <h2>
            Email
        </h2>

        <p class="contact-guidance">
                To submit poems or
                <br>
                subscribe to the magazine:
        </p>

        <p>
            <a href="mailto:editor@stanzaspoetry.org">
                editor@stanzaspoetry.org
            </a>
        </p>

    </div>

</div>
<!-- section-1 -->

<div class="section-2">

    <div class="pricing">

        <h2>
            Subscriptions
        </h2>

        <ul>
            <li>
                South Africa: R350
            </li>
            <li>
                Overseas: R500
            </li>
        </ul>

        <p>
            Email for details

            <a href="mailto:editor@stanzaspoetry.org">
                editor@stanzaspoetry.org
            </a>
        </p>
    </div>

    <div class="poets">
        
        <h2>
            Some poets who have appeared in Stanzas
        </h2>

        <p>
            PR Anderson, Caroline Archer, Michèle Betty, Michael Cope, David Copeland, Gail Dendy, Isobel Dixon, CJ ‘Jonty’ Driver, Graham Dukas, John Eppel, Jane Fox, Sarah Frost, Gaireyah Fredericks, Elisa Galgut, Anne Graaff, Joan Hambidge, Eustacia Jirivenga, Lynthia Julius, Johann de Lange, Moira Lovell, Chris Mann, Botsana Maphanga, Johann Lodewyk Marais, Adré Marshall, Helen Moffett, Nondwe Mpuma, Lethokuhle Msimang, Nick Mulgrew, Medzani Musandiwa, Stuart Payne, Simon Rees-Roberts, Arja Salafranca, Patricia Schonstein, Douglas Reid Skinner, Alexander Smith, Basil du Toit, Phillippa Yaa de Villiers, Tony Voss, Tony Ullyat, Robin Winckel-Mellish, Stephen Wrigley, Fiona Zerbst
        </p>

        <h3>
            In translation
        </h3>

        <p>
            Tito Balestra, Bertolt Brecht, Catullus, Paul Celan, Marco Fazzini, Jean Follain, Homer, Attila József, Olga Kirsch, Valerio Magrelli, Gérard de Nerval, Barend Toerien
        </p>

    </div>

</div>
<!-- section-2 -->
