.covers {

    // Layout
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    // Appearance
    margin-left: auto;
    margin-right: auto;
    max-width: 40rem;

    img {
        max-width: 20%;
        margin: 0.5rem;
    }
}

.subheadline {
    color: $color-text-reversed;
    font-size: 1.2rem;
    line-height: 1.5;
}

.description {
    color: $stanzas-yellow;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.testimonial {
    color: $color-text-reversed;
    font-size: 1.2rem;
    padding-bottom: 2rem;

    p {
        margin-bottom: 0;
    }
}

.testimonial-source {
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.contact {
    color: $color-text-reversed;
    font-size: 1.3rem;
    margin-top: 3rem;

    @media only screen and (min-width: $break-width-medium) {
        margin-top: 0;
    }

    h2 {
        font-size: 1.6rem;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
    }

    .contact-guidance {
        font-weight: 300;
    }
}

.pricing {
    border: 0.25rem solid $stanzas-blue;
    color: $stanzas-blue;
    font-size: 1.3rem;
    font-weight: 500;
    height: 11.5em;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 25rem;
    padding: 1rem;

    @media only screen and (min-width: $break-width-large) {
        font-size: 1.6rem;
        height: 10.5em;
    }

    h2 {
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
    }

    ul {
        list-style-type: none;
        padding: 0;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
    }

    p {
        font-weight: 300;
    }

    :last-child {
        margin-bottom: 0;
    }
}

.poets {

    h2, h3 {
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
    }

    p {
        font-weight: 300;
    }
}
