.wrapper {
    margin: auto;
}

@mixin constrain-text-width($width: $max-width) {
    & > p,
    & > ul,
    & > dl {
        max-width: $max-width;
        margin-left: auto;
        margin-right: auto;
    }
}

.section-1 {
    background-color: $stanzas-blue;
    padding: 4rem 2rem 2rem 2rem;
    @include constrain-text-width();
}

.section-2 {
    padding: 4rem 2rem;
    @include constrain-text-width();

    border: 10px solid $stanzas-blue;
    border-top: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
